<ion-header>
  <ion-navbar>
    <ion-title>
      カート
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="allRemove()">空にする</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!isEmpty; else elseBlock">
    <ion-list>
      <ion-item *ngFor="let product of productList">
        <div class="quantity">{{product.quantity}}</div>
        <div class="product">{{product.name}}</div>
        <div class="price">￥{{product.price}}</div>
      </ion-item>
      <ion-item>
        <div class="check-detail">
          <p class="title">小計</p>
          <p class="price">￥{{subtotal}}</p>
        </div>
        <div class="check-detail">
          <p class="title">デリバリー料</p>
          <p class="price">￥300</p>
        </div>
      </ion-item>
      <ion-item>
        <div class="title emphasis">合計（税込み）</div>
        <div class="price emphasis">￥{{total}}</div>
      </ion-item>
      <ion-item no-lines>
      </ion-item>
    </ion-list>
    <button ion-button full color="secondary" class="order" (click)="order()">注文する</button>
  </div>
  <ng-template #elseBlock>
    <h2>お客様のショッピングカートに商品はありません。</h2>
  </ng-template>
</ion-content>
